<!DOCTYPE html>
<html class="no-js" >

<html class="no-js" ng-app>

<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=1024, user-scalable=no">

  <title>Your deck.js Presentation</title>

  <!-- Required stylesheet -->
  <link rel="stylesheet" media="screen" href="core/deck.core.css">

  <!-- Extension CSS files go here. Remove or add as needed. -->
  <link rel="stylesheet" media="screen" href="extensions/goto/deck.goto.css">
  <link rel="stylesheet" media="screen" href="extensions/menu/deck.menu.css">
  <link rel="stylesheet" media="screen" href="extensions/navigation/deck.navigation.css">
  <link rel="stylesheet" media="screen" href="extensions/status/deck.status.css">
  <link rel="stylesheet" media="screen" href="extensions/scale/deck.scale.css">

  <!-- Style theme. More available in /themes/style/ or create your own. -->
  <link rel="stylesheet" media="screen" href="themes/style/web-2.0.css">

  <!-- Transition theme. More available in /themes/transition/ or create your own. -->
  <link rel="stylesheet" media="screen" href="themes/transition/horizontal-slide.css">

  <!-- Basic black and white print styles -->
  <link rel="stylesheet" media="print" href="core/print.css">

 
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
   <script src="HauptController.js" > </script>

  <!-- Required Modernizr file -->
  <script src="modernizr.custom.js"></script>
</head>
<body>
  <div class="deck-container">

    <!-- Titelfolie -->
    <section class="slide deck-current" >
      <hgroup>
        <h1>AngularJS</h1>
        <p>Eine Präsentation von Daniel Stoll und Lisa Hanstein, 19. Mai 2014</p>
      </hgroup>
    </section>

    <!-- Agenda -->
    <section class="slide">
      <h2>Agenda</h2>
      <ol>
        <li>
          <p>Einführung</p>
        </li>
        <li>
          <p>Grundgerüst</p>
        </li>
        <li>
          <p>Wichtige Konzepte</p>
          - Zweidimensionale Datenbindung <br/> <br />
          - Dependency Injection <br/> <br />
          - Direktiven <br/> <br /> 
        </li>
        <li>
          <p>Vor- und Nachteile</p>
        </li>
        <li>
          <p>Fazit</p>
        </li>
      </ol>
    </section>

    <!-- Einführung -->
    <section class="slide">
      <h2>Einführung in AngularJS</h2>
      <ul>
        <li><p>Populäres Open Source JavaScript-Framework</p></li>
        <li><p>Von Google Inc. (2009, MIT-Lizenz)</p></li>
        <li><p>Unterstützung der Softwareentwicklung von dynamischen Webanwendungen</p></li>
        <li><p>Nach dem Model View Whatever (MVW) Modell</p></li>
      </ul>
    </section>



  <section class="slide" > 
         <h2>Grundgerüst - Der generelle Aufbau</h2> 
            <pre><code>&lt;!DOCTYPE html&gt; <strong>&lt;html ng-app&gt</strong>;
  &lt;head&gt; 
   <strong>&lt;script src=&quot;https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/ 
    angular.min.js&quot;&gt; &lt;/script&gt</strong>;
  &lt;/head&gt;
  &lt;body &gt; 
      ...
  &lt;/body&gt;
&lt;/html&gt;</code></pre>

<p><strong>ng-app</strong> Gültigkeitsbereich von AngularJS </p>    
<p><strong>script</strong> Einbindung der AngularJS Anwendung </p>   
   </section> 


 
    <section class="slide" >
 
         <h2>Zweidimensionale Datenbindung</h2>
		 <h4>Beispiel</h4>
	        <label>Name: </label>
      <input type="text" ng-model="deinName" placeholder="Name eingeben">
	  
      
      <p>Herzlich Willkommen {{deinName}} </p>

	  <div class="slide" >
	  <h4>HTML-Dokument - Body</h4>
	        <pre><code>&lt;body&gt;
      &lt;label&gt;Name:&lt;/label&gt;
      &lt;input type=&quot;text&quot; placeholder=&quot;Name eingeben&quot;&gt;
      &lt;h1&gt;Herzlich Willkommen &lt;/h1&gt;
&lt;/body&gt;</code></pre>
<p><strong>Mit JavaScript:</strong> Event-Handler, DOM-Manipulation, ... </p> 	 
 </div>
    </section>

	
	
	    <section class="slide">
         <h2>Zweidimensionale Datenbindung</h2>
		 <h4>Mit AngularJS - Body HTML-Dokument:</h4>
	      	        <pre><code>&lt;body&gt;
      &lt;label&gt;Name:&lt;/label&gt;
      &lt;input type="text" <strong>ng-model=&quotdeinName&quot</strong> placeholder="Name eingeben"&gt;
      
      &lt;h1&gt;Herzlich Willkommen <strong> &#123; &#123; deinName &#125; &#125;  </strong> &lt;/h1&gt;

&lt;/body&gt;</code></pre>
<p>Zweidimensionale Datenbindung zwischen 
<ul>
<li><strong>Eingabefeld (Model)</strong> mittels Angular-Attribut <strong>ng-model</strong> </li>
<li><strong>H1-Tag (View)</strong> mittels <strong>Expression</strong></li>
</ul>
	 
    </section>
	
	
	
	<section class="slide" id=>
     <h2>Zweidimensionale Datenbindung</h2>
	 <h4>Funktionsweise zweidimensionale Datenbindung</h4>
      <img src="data-binding.png" alt="Datenbindung">
    </section>
	
	
		<section class="slide"  ng-controller="AdressbuchController">
     <h2>Zweidimensionale Datenbindung</h2>
	 <h4>Beispiel: Zweidimensionale Datenbindung mit MVC</h4>
       <label >Vor- oder Nachnamen eingeben:</label>
      <input type="text" ng-model="suche" placeholder="Suchfeld">
	  
	  <ul>
  		<li ng-repeat="person in benutzer | filter:suche">
              Nachname: {{person.name}} <br /> 
              Vorname: {{person.vorname}} <br /> Weitere Daten: <br /> <br /> 
          </li>
	 </ul>
    </section>
	
	
	  <section class="slide" >
         <h2>Zweidimensionale Datenbindung</h2>
		 <h4>Controller- und Model-Code in externen JavaScript-Datei: HauptController.JS</h4>
	      	        <pre><code>function AdressbuchController (<strong>$scope</strong>) {	
	<strong>$scope.benutzer</strong> = [
	{"vorname": "Max", "name": "Meier"},
	{"vorname": "Florian", "name": "Wiegand"},
         ...
         ...	
	];	
}</code></pre>
<p><strong>Controller</strong> besitzt immer eine <strong>$scope-Variable</strong><p>
<p><strong>$scope-Objektvariable</strong> für Verbindung zum <strong>View</strong></p>
	 
    </section>
	
	
	
		  <section class="slide" >
         <h2>Zweidimensionale Datenbindung</h2>
		 <h4>Body des HTML-Dokuments (View)</h4>
	      	        <pre><code>&lt;body <strong>ng-controller=“AdressbuchController&quot;</strong>&gt;
 
    &lt;label &gt;Vor- oder Nachnamen eingeben:&lt;/label&gt;
    &lt;input type=&quot;text&quot; <strong>ng-model=&quot;suche&quot;</strong> placeholder=&quot;Suchfeld&quot;&gt;


    &lt;ul&gt;
  		<strong>&lt;li ng-repeat=“person in benutzer |  filter:suche&quot;&gt;</strong>
                         Nachname: <strong>{ { person.name } }</strong> &lt;br /&gt; 
                         Vorname: <strong>{ { person.vorname } }</strong> &lt;br /&gt; 
			 Weitere Daten: &lt;br /&gt; &lt;br /&gt; 
                &lt;/li&gt;
    &lt;/ul&gt;

&lt;/body&gt;  </code></pre>
<p><strong>ng-repeat</strong> iteriert über jedes Objekt aus dem Array <strong>benutzer</strong><p>
<p>Austausch über <strong>$scope-Variable</strong><p>
	 
    </section>
	

    	
	<section class="slide" >
     <h2>Dependency Injection</h2>
	 <p>Objekte sind wiederum von <strong>anderen Objekten abhängig</strong></p>
	 <p>Möglichkeiten zur Instanziierung von Objekten und Definition von <strong>Abhängigkeiten</strong> </strong></p>
         <div class="slide" >
	 <ol>
		<li><strong>Innerhalb</strong> einer  <strong>Funktion</strong> über new-Parameter: Beispiel <strong>Adressbuch-Objekt</strong></li>
			<pre><code>function sucheAdressbuch(benutzer){
	<strong>var db = new Database(...);</strong>
	db.suche(benutzer);
} </code></pre>
</div>		
		<div class="slide" >
		<li><strong>Außerhalb</strong> einer <strong>Funktion</strong>: Objekt als <strong>Übergabeparameter</strong></li>
	 <pre><code>function sucheAdressbuch(<strong>db</strong>,benutzer){
	<strong>db</strong>.suche(benutzer);
} </code></pre>
Instanziierung in Injector-Methoden
	 </ol>
	 </div>

    </section>
	
		<!-- Direktiven 1 -->
    <section class="slide">
      <h2>Direktiven</h2>
      <ul>
        <li><p>AngularJS-spezifische Erweiterungen von HTML</p></li>
        <li><p>Trennung von Aussehen und Verhalten</p></li>
        <li><p>AngularJS stellt einige Direktiven bereit</p></li>
          - ng-app <br/> <br/>
          - ng-repeat <br/> <br/>
          - ... <br/> <br/> 
        <li><p>Anwender kann eigene Direktiven einführen</p></li>
      </ul>
    </section>



    <!-- Vor- und Nachteile -->
    <section class="slide">
      <h2>Vor- und Nachteile</h2>
      <p>+ Bessere Verständlichkeit</p>
      <p>+ Leichte Testbarkeit</p>
      <p>+ Einfaches Refactoring</p>
      <p>+ Gute Kompatibilität</p>
      <p>+ Große Entwicklergemeinschaft</p>
      <p>- Performanceverlust möglich</p>
      <p>- Einarbeitung nötig</p>
    </section>

    <!-- Abschlussfolie -->
    <section class="slide">
      <h1>Danke</h1>
    </section>

    <!-- End slides. -->

    <!-- Begin extension snippets. Add or remove as needed. -->

    <!-- deck.navigation snippet -->
    <div aria-role="navigation">
      <a href="#" class="deck-prev-link" title="Previous">&#8592;</a>
      <a href="#" class="deck-next-link" title="Next">&#8594;</a>
    </div>

    <!-- deck.status snippet -->
    <p class="deck-status" aria-role="status">
      <span class="deck-status-current"></span>
      /
      <span class="deck-status-total"></span>
    </p>

    <!-- deck.goto snippet -->
    <form action="." method="get" class="goto-form">
      <label for="goto-slide">Go to slide:</label>
      <input type="text" name="slidenum" id="goto-slide" list="goto-datalist">
      <datalist id="goto-datalist"></datalist>
      <input type="submit" value="Go">
    </form>

    <!-- End extension snippets. -->
  </div>

<!-- Required JS files. -->
<script src="jquery.min.js"></script>
<script src="core/deck.core.js"></script>

<!-- Extension JS files. Add or remove as needed. -->
<script src="extensions/menu/deck.menu.js"></script>
<script src="extensions/goto/deck.goto.js"></script>
<script src="extensions/status/deck.status.js"></script>
<script src="extensions/navigation/deck.navigation.js"></script>
<script src="extensions/scale/deck.scale.js"></script>

<!-- Initialize the deck. You can put this in an external file if desired. -->
<script>
  $(function() {
    $.deck('.slide');
  });
</script>
</body>
</html>
